body {
  background-image: url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 105%;
  margin: 0px;
}

.option-button {
  margin: 4px;
  margin-top: 20px;
  font-size: 18px;
  border: 0px;
  border-radius: 5px;
  padding: 10px 15px;
  background: #ffba59;
  cursor: pointer;
  color: #282828;
}

.option-button.selected {
  background-color: #8d8d8d;
}
.optndv {
  padding: 20px;
  padding-bottom: 10px;
}
#maincon {
  padding: 20px;
  margin: 0px;
  padding-bottom: 180px;
}
#maincon img {
  max-width: 350px;
}
#quiz-container {
  background-color: #202020cc;
  width: 90%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px #8080806d;
  padding-bottom: 20px;
  color: #cbcbcb;
  text-align: left;
  word-wrap: break-word;
}
#quiz-container p {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  text-align: left;
  padding: 20px;
  word-wrap: break-word;
}
#submit-button {
  bottom: 65px;
  right: 15px;
  position: fixed;
  border: 0px;
  padding: 12px 35px;
  font-size: 16px;
  background-color: #0fe40fd1;
  box-shadow: 0px 4px 15px 0px #d9d9d974;
  display: none;
  color: #3a3a3a;
  cursor: pointer;
  font-weight: 600;
}
.qzinfo {
  padding: 5px;
  background-color: #ededed;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #3a3a3a;
  font-size: 14px !important;
  font-weight: 500;
}
.qzinfo span {
  float: right;
  font-size: 14px;
  font-weight: 500;
  font-weight: lighter !important;
  margin-top: 5px;
}

.nav-button {
  margin: 5px;
  margin-top: 40px;
  border: 0px;
  padding: 5px 10px;
  border-radius: 5px;
  float: right;
  color: #282828;
}
button:hover {
  opacity: 0.8;
}
#noteend {
  bottom: 45px;
  left: 10px;
  position: fixed;
  color: #f4f4f4;
  font-size: 12px;
}
#noteend a {
  color: #f4f4f4cf;
}
a {
  text-decoration: none;
}
#crtqz {
  float: right;
  font-size: 14px;
  padding: 10px;
  background: #ffba59;
  cursor: pointer;
  margin-top: -6px;
  color: black;
}
#crtqz:hover {
  opacity: 0.8;
}
#prevcont {
  padding: 20px;
  background: #3636369f;
  max-width: 960px;
  margin-top: 20px;
  height: 66vh;
  border-radius: 10px;
  overflow-y: auto;
}
#rfshqzdt {
  bottom: 65px;
  right: 20px;
  position: fixed;
  border: 0px;
  background-color: #282828;
  padding: 10px 20px;
  color: #ededed;
  cursor: pointer;
  z-index: 2000;
}
.qzaldt-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.qzaldt {
  flex: 1 1 calc(20% - 20px);
  text-align: left;
  background-color: #00000041;
  min-width: 210px;
  font-size: 14px;
  margin: 10px;
  margin-bottom: 19px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  word-wrap: break-word;
  position: relative;
}

.qzaldt:hover {
  transform: scale(1.02);
  box-shadow: 0px 2px 15px 0px #ffffff4c;
  transition: 0.2s;
}
.qzaldt p {
  margin: 0px;
  line-height: 2;
}
.qztt {
  font-size: 16px;
  font-weight: 600;
  background-color: #ededed;
  color: #4f4f4f;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.qzst {
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.qzdt {
  position: absolute;
  bottom: 5px;
  right: 10px;
  text-align: right;
  z-index: 999;
  color: black;
  font-size: 12px;
  border-radius: 5px;
  padding: 2px 5px;
}
#passDiv {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: #00000082;
  position: fixed;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#passDiv div {
  margin-top: -60px;
  background-color: white;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}
#passDiv label {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.6;
  width: 30%;
}

#passDiv input {
  float: right;
  width: 65%;
  height: 30px;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: red;
  font-weight: 600;
  padding-left: 10px;
}

#passDiv button {
  width: 48.5%;
  padding: 10px 10px;
  margin: 1px;
  margin-top: 10px;
  border: 0px;
  color: white;
}
.pvtqzps {
  background-color: #04ab04;
}
.pvtqzcls {
  background-color: #363636;
}
#iframeContainer {
  background-color: #171717bf;
}

#iframeContainer iframe {
  background-color: white;
  max-width: 700px;
}
#closeButtonfrm:hover {
  opacity: 1;
  background-color: #fdc75a;
}
#closeButtonfrm {
  background: #ffba59;
}
